openapi: 3.0.3
x-stoplight:
  id: x0k3zcu2ovr68
info:
  title: DRS API Representation
  contact:
    name: Dawid Brylka
    url: 'https://www.kaucja.pl'
    email: dawid.brylka@kaucja.pl
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  version: 1.0.11
externalDocs:
  description: Find out more about Swagger
  url: 'http://swagger.io'
servers:
  - url: 'https://drs-sandbox.kaucja.pl/api/rvm/'
paths:
  /product:
    post:
      operationId: productPost
      tags:
        - product
      summary: Add or update product
      description: |
        Endpoint responsible for adding, or updating new product by Introducers. <br>
        Caling in will cause change in DRS and delayed change in RVM systems.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: models/Product.yaml
      responses:
        '200':
          $ref: '#/components/responses/200PostReturnId'
        '400':
          $ref: '#/components/responses/400ValidationFailed'
    get:
      tags:
        - products
      summary: Get product data
      parameters:
        - name: sendImages
          in: query
          description: Shall we send images to RVM
          required: false
          schema:
            type: boolean
            default: false
        - name: updatedAfter
          in: query
          description: Display items updated After
          required: false
          schema:
            type: string
            format: date-time
        - name: createdAfter
          in: query
          description: Display items created After
          required: false
          schema:
            type: string
            format: date-time
        - $ref: '#/components/parameters/Startindex'
        - $ref: '#/components/parameters/Pagelength'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  pageNo:
                    type: integer
                  pageSize:
                    type: integer
                  totalItemCount:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: models/Product.yaml
        '400':
          description: Invalid input
        '422':
          description: Validation exception
      x-stoplight:
        id: i8big2em2kghv
  '/product/{ean}':
    get:
      tags:
        - products
      summary: Get product data - single product
      description: |
        Get data of single product.
      parameters:
        - name: sendImages
          in: query
          description: Shall we send images to RVM
          required: false
          schema:
            type: boolean
            default: false
        - name: ean
          in: path
          description: Ean that should be synced
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: models/Product.yaml
        '400':
          description: Invalid input
        '422':
          description: Duplicate ID. Please provide unique ID for Transaction Entity
      x-stoplight:
        id: 5o6n5p23xf20f
  /transaction:
    post:
      tags:
        - transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: models/Transaction.yaml
      summary: Post single Transaction
      description: Post single Transaction
      responses:
        '200':
          $ref: '#/components/responses/200VoucherData'
        '400':
          $ref: '#/components/responses/400MachineUnknown'
        '409':
          $ref: '#/components/responses/409Conflict'
        '422':
          description: Validation exception
      x-stoplight:
        id: sbyw8qv8u7gj8
  /transaction/bulk:
    post:
      internal: true
      tags:
        - transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkTransaction'
      summary: Post multiple Transaction
      description: Post multiple Transaction
      responses:
        '200':
          description: Successful operation
        '400':
          $ref: '#/components/responses/400MachineUnknown'
        '409':
          $ref: '#/components/responses/409Conflict'
        '422':
          description: Validation exception
      x-stoplight:
        id: zpsfrh56cuuti
      x-internal: true
  /bag-replacement:
    post:
      tags:
        - rvm
      summary: Trigger an replacement action for RVM
      description: Trigger an replacement action for RVM
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BagReplacement'
      responses:
        '200':
          description: Successful operation
        '400':
          description: Invalid input
        '409':
          $ref: '#/components/responses/409Conflict'
        '422':
          description: Validation exception
      x-stoplight:
        id: 3r55dg8tllqbx
  /bag-seal:
    post:
      tags:
        - rvm
      summary: Call performed when bag seal is performed
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BagSeal'
      responses:
        '200':
          description: Successful operation
        '400':
          description: Invalid input
        '422':
          description: Validation exception
      x-stoplight:
        id: lqz2mv777xppe
  /bag-fill-status:
    post:
      tags:
        - rvm
      summary: Notify about bag fill level
      description: |
        This endpoint is used to notify DRS about the current fill level of a bag.
        It can be triggered at any configured threshold (e.g., 80% for warning, 100% when full).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BagFillStatus'
      responses:
        '200':
          description: Successful operation
        '400':
          description: Invalid input
        '422':
          description: Validation exception
  /machine:
    post:
      summary: Add/Machine Update By RVM Vendor
      description: |
        Endpoint used by RVM providers to notify DRS whether something changed to the RVM.
      tags:
        - machine
      requestBody:
        $ref: '#/components/requestBodies/MachineUpdate'
      responses:
        '200':
          description: Operation Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    x-stoplight:
                      id: wrtzghy4ghwrg
                    format: uuid
                    description: 'Unique identifier of the machine in the DRS system (later reffered to as rvmId). If provided in the request body, it will not be provided in the reponse.'
        '404':
          description: Unknown Machine
      operationId: get-machine-id-update
      x-stoplight:
        id: bu3ambgd8l19t
  '/machine/{id}':
    parameters:
      - $ref: '#/components/parameters/id'
    head:
      summary: Query For Machine in DRS system
      tags:
        - machine
      responses:
        '200':
          description: Machine is known and registered in Kaucja DRS
        '404':
          description: Unknown Machine
      operationId: get-machine-id-registered
      x-stoplight:
        id: l2akxxutrhklj
    delete:
      summary: Machine Delete
      description: |
        Endpoint used by RVM providers to notify DRS that machine was Deleted.

        The **{id}** is the same UUID that was assigned to the machine during registration via [POST - /machine](https://kaucja.stoplight.io/docs/rvm-api/bu3ambgd8l19t-add-machine-update-by-rvm-vendor)
      tags:
        - machine
      responses:
        '200':
          description: Operation Successful
        '404':
          description: Unknown Machine
      operationId: get-machine-id-update
      x-stoplight:
        id: bu3ambgd8l19t1
  /mobileapp/machine:
    post:
      internal: true
      summary: Add new RVM to Collection Point
      description: |
        Endpoint used to Register new RVM in DRS system for given Collection Point.
        <br>Internal. Only Used from Mobile app.
      tags:
        - machine
      requestBody:
        $ref: '#/components/requestBodies/RegisterMachine'
      responses:
        '200':
          description: Operation Successful
        '404':
          description: Unknown Machine
      operationId: post-machine
      x-stoplight:
        id: ltd4iqkgs22yd
      x-internal: true
  /voucher/buffer:
    get:
      summary: Get Buffer of Vouchers
      description: Get Buffer of Vouchers for RVM
      parameters:
        - $ref: '#/components/parameters/rvmId'
      tags:
        - voucher
      responses:
        '200':
          $ref: '#/components/responses/200OkBufferReturned'
      operationId: get-voucher-buffer
      x-stoplight:
        id: rsbvxnuugs8t7
  /voucher/redeem:
    post:
      summary: Voucher
      description: Post information about voucher reedem
      requestBody:
        $ref: '#/components/requestBodies/RedeemVoucher'
      tags:
        - voucher
      responses:
        '200':
          description: Successful operation
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: post-voucher-redeem
      x-stoplight:
        id: xasro8ur97dkn
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth: # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    Pagelength:
      name: pageLength
      in: query
      description: |
        Number of records to return. 
        Values that are above max will be trimmed to max <br>
        Min: 0 <br>
        Max: 50
      min: 0
      max: 50
      schema:
        type: number
    Startindex:
      name: startIndex
      in: query
      description: Start index for paging
      schema:
        type: number
    id:
      name: id
      in: path
      required: true
      description: |
        Unique ID of RVM
      schema:
        type: string
    rvmId:
      name: rvmId
      description: id of a RVM machine
      in: query
      required: true
      schema:
        type: string
  schemas:
    ApiException:
      title: ApiException
      x-stoplight:
        id: je3kztlbezwpl
      type: object
      properties:
        httpStatus:
          type: integer
          format: int32
          example: 400
        errorType:
          type: string
          example: api.err.type.validation
        path:
          type: string
          example: POST /transaction/
        objectId:
          type: string
          example: 497f6eca-6276-4993-bfeb-53cbbbba6f08
          description: ID of the object for which the error occurred
        errorMsg:
          type: array
          items:
            $ref: '#/components/schemas/ErrorMsg'
    RedeemType:
      title: RedeemType
      x-stoplight:
        id: zl59bi4je1cpy
      type: number
      enum:
        - 1
        - 2
        - 3
        - 99
      description: |
        Descriptor for Reedem Type where <br>
          - 1 - Exchanged For Cash
          - 2 - Discount on bill
          - 3 - Charity
          - 99 - Other
    Voucher:
      title: Voucher
      x-stoplight:
        id: xycd2rl0p4qwm
      type: object
      required:
        - id
        - redeemType
        - redeemDate
      properties:
        id:
          type: string
          description: Id of a voucher
          x-stoplight:
            id: oxadjinwkm40p
        redeemType:
          $ref: '#/components/schemas/RedeemType'
        redeemDate:
          type: string
          format: date-time
        rvmId:
          type: string
          format: guid
    ErrorMsg:
      title: ErrorMsg
      x-stoplight:
        id: mkkp4hygj6eod
      type: object
      properties:
        errorCode:
          type: string
          example: TRS_PRODUCT_BAD_STATUS
          description: Error code
        field:
          type: string
          example: containers.ean
          description: Field to which the error applies
        idRow:
          type: integer
          format: int32
          example: 2
          description: Index of the 1st-level list element the error applies to (e.g. the 14th element of the `transaction` list)
        idRow2:
          type: integer
          format: int32
          example: 9
          description: Index of the 2nd-level list element the error applies to (e.g. the 9th element of the `items` list)
        errorMsgLabel:
          type: string
          example: api.err.msg.trs.product.bad.status
          description: 'Label in the multilingual file with the corresponding error message. If there are variables to be substituted, they are contained in tags {{0}}, {{1}}, {{2}}, etc.'
        errorMsgArgs:
          type: array
          description: 'List of values to be substituted into the above-mentioned tags {{0}}, {{1}}, {{2}}, etc.'
          items:
            type: string
            example: INACTIVE
            description: Element of the list of values to be substituted into the above-mentioned tags
    BagSeal:
      type: object
      required:
        - sealNumber
        - bagId
        - sealTime
      properties:
        lockingPersonId:
          type: string
          format: uuid
        sealNumber:
          type: string
        bagId:
          type: string
          format: uuid
        sealTime:
          type: string
          format: date-time
      x-stoplight:
        id: cyqmwjxrizrej
    BagFillStatus:
      type: object
      properties:
        rvmId:
          type: string
          format: uuid
        binId:
          type: string
          format: uuid
          description: |
            (Optional) ID of bin that is filled out
        wasteType:
          type: array
          items:
            $ref: models/enum/WasteTypeEnum.yaml
        rvmBlocked:
          type: boolean
          example: false
          description: Defines whether Rvm was blocked from further usage
        fillLevelPercent:
          type: number
          format: float
          example: 0.8
          description: 'Fill level in percent (e.g., 0.8 for 80%)'
        reportedAt:
          type: string
          format: date-time
      required:
        - rvmId
        - wasteType
        - fillLevelPercent
        - rvmBlocked
        - reportedAt
    BagReplacement:
      type: object
      x-stoplight:
        id: ty6l3ytww8zew
      required:
        - bagId
        - rvmId
        - replacementDate
        - containers
      properties:
        bagId:
          type: string
          format: uuid
          description: "Bag ID in UUID format. \r\nGiven by the RVM provider and visible to the client (Collection Point) in the DRS system."
        rvmId:
          type: string
          format: uuid
          description: "Set during the registration of the machine in\r\n[POST - /machine](https://kaucja.stoplight.io/docs/rvm-api/bu3ambgd8l19t-add-machine-update-by-rvm-vendor).\r\n<br>Either sent in the registration request, or returned in the response - as **id**"
        sealNumber:
          type: string
          example: '017824770475060'
          description: |
            Optional. If RVM is able to seal bag on it's own it should send us seal number on this particular call. If sent in a request, is subject to checksum verification on Kaucja's side.
        lockingPersonId:
          type: string
          format: uuid
        replacementDate:
          type: string
          format: date-time
        bagWeight:
          type: number
        containerAmount:
          type: integer
        relatedTransactionsIds:
          type: array
          description: "Optional but **highly preferable**. Enables the customer (Colelction Point)\r\nto preview all of the transactions that a closed bag consists of."
          items:
            type: string
            format: uuid
        containers:
          type: array
          items:
            $ref: models/ContainerFull.yaml
    BulkTransaction:
      title: BulkTransaction
      x-stoplight:
        id: 5g2jzhz7bryao
      type: array
      items:
        $ref: models/Transaction.yaml
    BulkTransactionConfirmation:
      title: Bulk Transaction Confrimation
      type: array
      items:
        allOf:
          - properties:
              transactionId:
                type: string
                format: uuid
                description: Unique ID of the transaction
          - $ref: '#/components/schemas/TransactionConfirmation'
    TransactionConfirmation:
      title: Transaction Confirmation
      x-stoplight:
        id: l9yurkyx2wr88
      type: object
      properties:
        blocked:
          type: boolean
          default: false
          description: Indicates whether the transaction is blocked from payment by RVM
        amount:
          type: number
          example: 10.5
          description: Amount to be paid by RVM for the returned bottles
        currency:
          type: string
          default: PLN
          description: Currency in which RVM pays for returned bottles
    MachineUpdate:
      title: Machine Update
      description: |
        Model representing what RVM provider can update in machines that are being stored in DRS
      x-stoplight:
        id: zk239eslozgw8
      allOf:
        - $ref: models/PostMachine.yaml
        - required:
            - drsCpNo
          properties:
            id:
              type: string
              description: "Unique machine identifier in the DRS. This value is required later when sending transactions and closing bags, where it's reffered to as **rvmId**. \r\n\r\nIf omitted in this request, DRS will generate the id and return it in the response."
              format: uuid
            model:
              type: string
              example: Tomra 9
            drsCpNo:
              description: 'Number of the Collection Point created by the client (the owner of the Collection Point) in the DRS system, example: 1100061-152.'
      x-examples:
        Example 1:
          serialNumber: 148d7a56-176d-413b-9eb5-c62f6f5bb67a
          name: string
          bins:
            - wasteType:
                - 1
              litrage: 240
          id: string
          model: Tomra 9
          drsCpNo: null
      type: object
    RegisterMachine:
      title: RegisterMachine
      x-stoplight:
        id: pavk7ohndqzt1
      type: object
      required:
        - rvmModel
      allOf:
        - $ref: models/PostMachine.yaml
        - properties:
            id:
              type: string
              format: uuid
              description: ID of machine
            rvmModel:
              type: string
              format: uuid
              description: Model of RVM that is used.
            authorizationCode:
              type: string
              description: Authorization code required to register machine
    VoucherData:
      title: VoucherData
      x-stoplight:
        id: ato1zk3jv1nrl
      type: object
      properties:
        id:
          type: string
          x-stoplight:
            id: 44s2k53bhg2hz
        printType:
          $ref: '#/components/schemas/VocuherPrintTypeEnum'
        issuedAt:
          type: string
          format: date-time
        validUntil:
          type: string
          format: date-time
    VocuherPrintTypeEnum:
      title: VoucherPrintTypeEnum
      x-stoplight:
        id: wjgw9ypmmrjlh
      type: integer
      enum:
        - 0
        - 1
      description: |
        Decscriptor for Voucher Type where
          - 0 - Code128/EAN13 type - Barcode
          - 1 - QR Code
    VoucherBuffer:
      title: VoucherBuffer
      x-stoplight:
        id: mii4730sid7h4
      type: object
      properties:
        voucherIdList:
          items:
            type: string
            example: 20012312312
        printType:
          $ref: '#/components/schemas/VocuherPrintTypeEnum'
        daysUntilExpiration:
          description: Parameter saying how long voucher will be valid after issuing it by RVM
          type: string
          example: 30d
  responses:
    '400':
      description: 'REQUIRED - One or more required fields has not been provided <br>ENUM_ERROR - Format of one or more fields is incorrect <br>INCONSISTENT - Value is inconsistent comparing to ether system elements <br>TOO_LONG - Exceeded maximum length <br>INCORRECT_FORMAT - Incorrect format <br>VALUE_TOO_HIGH - Exceeded maximum value <br>VALUE_TOO_LOW - Value is below minimum allowed <br>...  '
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/ApiException'
    '401':
      description: UNAUTHORIZED - api.err.msg.unauthorized
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/ApiException'
    '403':
      description: FORBIDDEN - api.err.msg.forbidden
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/ApiException'
    '404':
      description: NOT_FOUND - Resource not found
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/ApiException'
    '500':
      description: INTERNAL - Internal error has occurred
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/ApiException'
    200PostReturnId:
      description: OK
      content:
        application/json:
          schema:
            properties:
              id:
                type: string
    400ValidationFailed:
      description: Example response
      content:
        application/json:
          schema:
            $ref: models/ErrorMessage.yaml
    409Conflict:
      description: Example response
      content:
        application/json:
          schema:
            $ref: models/ErrorMessage.yaml
          examples: null
    200TransactionProcessed:
      description: |
        Response returned by transaction.
        Indicates whether coupon should be granted and for what amount. 
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TransactionConfirmation'
    200BulkTransactionProcessed:
      description: |
        Response returned by transaction.
        Indicates whether coupon should be granted and for what amount. 
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BulkTransactionConfirmation'
    400MachineUnknown:
      description: Example response
      content:
        application/json:
          schema:
            $ref: models/ErrorMessage.yaml
          examples:
            machineUnknown:
              $ref: '#/components/examples/MachineUnknown'
    ConflictMessage:
      value:
        msg: Conflicting ID of the request.
        errorCode: 5
        path: <path of the request>
    200VoucherData:
      description: Response of Voucer Data. If Voucher was supplied in Transaction Body - Response will be empty
      content:
        application/json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/VoucherData'
              - $ref: null
    200OkBufferReturned:
      description: OK. Buffer returned
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/VoucherBuffer'
  requestBodies:
    RedeemVoucher:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Voucher'
    MachineUpdate:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MachineUpdate'
    RegisterMachine:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RegisterMachine'
  examples:
    MachineUnknown:
      values:
        msg: Machine doesn't belong to given DRS operator.
        errorCode: 8
        path: <path of the request>
